$primary-color: var(--primary-color, #f90);

$btn-primary-color: var(--btn-primary-color, #000);
$btn-primary-bg-color: var(--btn-primary-bg-color, $primary-color);
$btn-primary-border-color: var(--btn-primary-border-color, transparent);

$btn-primary-active-color: var(--btn-primary-active-color, #000);
$btn-primary-bg-active-color: var(--btn-primary-bg-active-color, red);
$btn-primary-border-active-color: var(--btn-primary-border-active-color, transparent);

$btn-disabled-color: var(--btn-disabled-color, #fff);
$btn-disabled-bg-color: var(--btn-disabled-bg-color, #999);
$btn-disabled-border-color: var(--btn-disabled-border-color, transparent);
